POSTGRES_DRIVER=postgresql
POSTGRES_HOST=db
POSTGRES_PORT=5432
JWT_SECRET={{expense_tracker_jwt_secret}}
JWT_EXPIRE_MIN={{expense_tracker_jwt_expire_min}}
ENVIRONMENT={{application_environment}}
BASE_CURRENCY_CODE={{expense_tracker_base_currency_code}}
BASE_CURRENCY_NAME="{{expense_tracker_base_currency_name}}"
