version: '2.4'

x-healthcheck:
  &default-healthcheck
  test: [ "CMD", "curl", "-f", "http://localhost/ping" ]
  interval: 10s  # consider greater interval
  timeout: 10s
  retries: 3
  start_period: 40s

x-defaults:
  &defaults
  restart: unless-stopped
  networks:
    - app

networks:
  app:

volumes:
  db-data:
  grafana-data:

services:
  db:
    image: postgres:14
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      <<: *default-healthcheck
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
    ports:
      - "127.0.0.1:5432:5432"
    env_file:
      - .env.postgres
    <<: *defaults

  migration:
    <<: *defaults
    image: {{expense_tracker_image}}:{{expense_tracker_tag}}
    command: alembic -x data=true upgrade head
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env.postgres
      - .env.expense_tracker
    restart: "no"

  expense_tracker:
    image: {{expense_tracker_image}}:{{expense_tracker_tag}}
    depends_on:
      db:
        condition: service_healthy
      migration:
        condition: service_completed_successfully
    ports:
      - "80:80"
    env_file:
      - .env.postgres
      - .env.expense_tracker
    healthcheck:
      <<: *default-healthcheck
    <<: *defaults

  prometheus:
    image: prom/prometheus:v2.35.0
    volumes:
      - ./prom/prometheus.yml:/etc/prometheus/prometheus.yml
    <<: *defaults

  grafana:
    image: grafana/grafana:8.5.2
    ports:
      - "3000:3000"
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
      - ./grafana/dashboards:/etc/grafana/dashboards:ro
      - grafana-data:/var/lib/grafana
    env_file:
      - .env.grafana
    <<: *defaults
